<%= form_with(model: album, local: true) do |f|%>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :days, "日にち" %><br />
    <%= f.text_field :day %>
  </div>

  <div class="field">
    <%= f.label :image, "思い出の写真" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>